#version 1.0
#contact: erik.dubois@gmail.com
#
[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openAsRoot

[Desktop Action openAsRoot]
Name=Open Thunar as root
Icon=system-file-manager
Exec=kdesu thunar
